#submissionForm{

    display:block;
    position: relative;
    border: 5px solid black;
    width: 500px;
    margin-left: 40%;
    margin-top: 7%;
    border-radius: 20px;
}

.submissionText{
    display: inline-block;
    position: relative;
    margin-left: 30%;
    font-family: cursive;
    font-size: x-large;
}

.unordered{
    position: relative;
    margin-left: 15%;
    list-style: none;
}

.unordered>li{
    display: block;
    height: 50px;
    font-size: x-large;

}


.unordered>li>label{
    margin-right: 10px;
}



.unordered>li>input,.unordered>li>select{
    display: inline-block;
    height: 25px;
    border-radius: 5px;
    border-color: aliceblue;
    box-shadow: 10px 5px 5px azure;
}


.submitForm{
    margin-left: 22%;
    width: 75px;
    margin-top: 13px;
    border-radius: 30%;
    border-color: antiquewhite;
    background-color: bisque;
    color: darkgray;
    box-shadow: none;
}